.timer {
    font-size: 36px;
    font-weight: bold;
    width: 130px;
    margin: 20px auto 30px auto ;
    color: white;


    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/

}