.card {
    width: 95px;
    height: 95px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
    outline-offset: -4px;
    background-color: transparent;
    outline: 1px solid transparent;
    position: relative;
}

.card.six {
    width: 103px;
    height: 103px;
}

.card.five {
    width: 114px;
    height: 114px;
}

.card.four {
    width: 132px;
    height: 132px;
}

.card.three {
    width: 146px;
    height: 146px;
}

.card.two {
    width: 171px;
    height: 171px;
}

.card.default {
    background-color: #fff9e3;
    cursor: pointer;
    outline: 1px solid #c4c4c4;
    outline-offset: -4px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
    position: relative;
}

.card.default::before {
    cursor: pointer;
    outline: 1px solid #c4c4c4;
    outline-offset: -4px;
    line-height: 50px;
    text-align: center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.card.default:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.card.default::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(234, 234, 234, 0.5);
    transform: scale(1.2,1.2);
}

.card.default:hover::after  {
    opacity: 1;
    transform: scale(1,1);
}

.image {
    width: 100%;
    height: 100%;
position: relative;
    transition: opacity .2s;
}

.image.none {
    opacity: 0;
}