.card {
    /*width: 132px;*/
    /*height: 132px;*/
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
    outline-offset: -4px;
    background-color: transparent;
    outline: 1px solid transparent;
    position: relative;
    opacity: 1;
    z-index: 3;
    margin: 1px;
}

.card.six {
    width: 103px;
    height: 103px;
}

.card.four {
    width: 132px;
    height: 132px;
}

.card.two {
    width: 171px;
    height: 171px;
}

.card.default {
    outline: 2px solid #b2b2b2;
    outline-offset: -4px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /*line-height: 39px;*/
    padding: 0;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 1px;
}

.card.default:hover {
    background: #ffffff;
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.16);
}

.card.default span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.card.default:before,
.card.default:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(73, 73, 73);
    transition: all 0.3s ease;
}

.card.default:before {
    height: 0%;
    width: 4px;
}

.card.default:after {
    width: 0%;
    height: 4px;
}

.card.default:hover:before {
    height: 100%;
}

.card.default:hover:after {
    width: 100%;
}

.card.default span:before,
.card.default span:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(73, 73, 73);
    transition: all 0.3s ease;
}

.card.default span:before {
    width: 4px;
    height: 0%;
}

.card.default span:after {
    width: 0%;
    height: 4px;
}

.card.default span:hover:before {
    height: 100%;
}

.card.default span:hover:after {
    width: 100%;
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity .2s;
}

.image.none {
    opacity: 0;
}