.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    border: white 2px solid;
    position: relative;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.cardsContainer.six {
    width: 650px;
    height: 650px;
}

.cardsContainer.five {
    width: 600px;
    height: 600px;
}

.cardsContainer.four {
    width: 550px;
    height: 550px;
}

.cardsContainer.three {
    width: 450px;
    height: 450px;
}

.cardsContainer.two {
    width: 350px;
    height: 350px;
}

.menuButton {
    display: flex;
    margin: 20px auto 10px auto;
    justify-content: center;
    align-items: center;
}