.winCover {
    color: #e9f1f1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

.winCover h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.winCover h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: left;
}

@media (max-width: 660px) {
    .winCover button {
        margin-top: 50px;
    }
}